# Nuxt dev/build outputs
.output
.output/*
.data
.nuxt
.nuxt/
.nitro
.cache


# Node dependencies
node_modules
package-lock.json

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
nuxt.config.ts