// AUTOCOMPLETE
.trv-autocomplete {
    position: relative;
}

.trv-auto-input-group {
    position: relative;
    display: flex;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    color: #cbd5e0;
    justify-content: flex-start;

    >.trv-auto-icon-search-left {
        display: flex;
        position: absolute;
        align-items: center;
        left: 1rem;
        padding-top: 1rem;
        width: 26px;
        height: 26px;
        outline: none;
        background: transparent;
        border: 0;
        z-index: 1;
    }

    >.trv-auto-icon-search-right {
        display: flex;
        position: absolute;
        align-items: center;
        right: 1.125rem;
        // padding-top: 1rem;
        width: 26px;
        height: 26px;
        outline: none;
        background: transparent;
        border: 0;
    }

    >input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        width: 100%;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 0.8335rem;
        line-height: 1.25rem;
        color: #000;

        ::placeholder {
            color: #9ca3af;
        }

        :focus {
            outline: none;
        }

        border-width: 1px;
        border-color: #cbd5e0;
        height: 3.125rem;
        padding-right: 2.2rem !important;
    }

    >label {
        color: #000
    }
}

.trv-auto-dropdown-div {
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 50;
    right: 0;
    margin-top: 0rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
    max-height: 200px;

    >ul {
        margin-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-radius: 0.375rem;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

        >li {
            display: block;
            padding-left: 0rem;
            padding-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: #4a5568;
            cursor: pointer;
        }
    }
}

.trv-auto-dropdown-ul {
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.375rem;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.trv-auto-dropdown-li {
    display: block;
    padding-left: 0rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #4a5568;
    cursor: pointer;
}

.trv-auto-dropdown-bg {
    background-color: #edf2f7;
}

.trv-auto-dropdown-font {
    font-weight: normal;
}

.trv-auto-dropdown-fontbold {
    font-weight: bold;
}

.trv-auto-class-list-class {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    width: 100%;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.trv-auto-text-size-class {
    font-size: 0.875rem;
    line-height: 1.5;
}

.trv-auto-text-color-class {
    color: #2d3748;

    ::placeholder {
        color: #cbd5e0;
    }
}

.trv-auto-border-color-class {
    :focus {
        outline: none;
    }

    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5;
    border-color: #3b82f6;
}

.trv-auto-padding-color-class {
    min-height: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 2rem;
}